version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:10.16.3 # the primary container, where your job's commands are run
    steps:
      - checkout # check out the code in the project directory

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}

      - run:
          name: Unit test
          command: yarn test

      # build
      - run:
          name: Build site
          command: yarn build

      - persist_to_workspace:
          root: ./
          paths:
            - public
